[Desktop Entry]
Name=tAustraliaCash Core
Comment=Connect to the tAustraliaCash P2P Network
Comment[de]=Verbinde mit dem tAustraliaCash peer-to-peer Netzwerk
Comment[fr]=tAustraliaCash, monnaie virtuelle cryptographique pair à pair
Comment[tr]=tAustraliaCash, eşten eşe kriptografik sanal para birimi
Exec=taustraliacash-qt %u
Terminal=false
Type=Application
Icon=taustraliacash128
MimeType=x-scheme-handler/taustraliacash;
Categories=Office;Finance;
